* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Remove scrollbar visual */
html,
body {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
