/* body {
  background-image: url("/src/assets/images/background.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
} */
@import "tailwindcss";

@import "tailwindcss";

:root {
  --color-dark: 31 41 55;
}
