/* body {
  background-image: url("/src/assets/images/background.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
} */
@import "tailwindcss";
@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Comfortaa;
  src: url("/src/assets/fonts/Comfortaa-Regular.ttf");
}

:root {
  --color-white: 255 255 255;
  --color-dark: 31 41 55;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-comfortaa: "Comfortaa", cursive;
}
